body {
    font-family: 'Oswald';
    margin: 0;
    padding: 0;
    background-color:  #15161B;
}

header{
    display: flex;
    justify-content: center;
}

.logo h2{
    color: #fff;
    font-size: 30px;
}

.logo span{
    color: #C1AAAA;
}

.section-1{
    display: flex;
    justify-content: center;
    margin-top: 60px;
}

.area-tittle h3{
    color: #fff;
    font-weight: normal;
}

.area-tittle h1{
    color: #fff;
    font-size: 45px;
    line-height: 50px;
    margin-top: -10px;
}

.area-tittle a{
    display: inline-block;
    background-color: #763632;
    padding: 15px 60px;
    color: #fff;
    font-size: 20px;
    cursor: pointer;
    border-radius: 5%;
}

.image1 img{
    width: 640px;
    height: auto;
    margin-top: 20px;
    margin-left: 70px;
    border-radius: 5%;
}

.area-tittle a:hover{
    background-color: #C1AAAA;
    transition: .7s;
}

/*A AREA DE CARD */

.section-cards{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin-top: 100px;
    margin-bottom: 100px;
    height: 400px;
}

.section-cards h2{
    color: #fff;
    text-transform: uppercase;
    font-size: 22px;
}

.cards{
    display: flex;
    flex-direction: row;
}

.card{
    background-color: #596E8A;
    width: 250px;
    height: 250px;
    margin-left: 30px;
    padding-top: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-radius: 5%;
    color: #fff;
    margin-top: 30px;
}

.card:hover{
    background-color: #fff;
    transition: 1s all;
}

.card img{
    width: 200px;
    border-radius: 10%;
    
}


/* SEÇÃO DE IMAGENS */

.section-3{
    background-color: #763632;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 100px;
}

.area-tittle-2 h1{
    color: #fff;
    font-size: 30px;
}

.image2 img{
    width: 420px;
    height: auto;
}

