body {
    background-color: pink;
}
.colorido{
    color: rgb(255, 0, 157);
}
#paragrafo{
    color: rgb(0, 4, 255);
}
#contentor{
    display: flex;
    justify-content: center;
}
#contentorinterno{
    width: 850px;
    background-color: white;
    padding: 50px;
}

figure {
    width: 500px;
    margin-left: auto;
    margin-right: auto;
}

figure img {
    width: 500px;
}

table 
{
    border: 1px solid gray;
    width: 100%;
}
.contentorcolorido {
   display: flex;
   height: 100px;
   align-items: center;
   justify-content: center;
   background-color: aquamarine;
   margin-bottom: 20px;
   margin-top: 20px;
}

