* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    border: 0;

}
html {
    scroll-behavior: smooth;
    width: 100%;
    height: 100%;

}
header {
    
    background-color: #520a0a;
    width: 100%;
    padding-top: 30px;
    background-image: linear-gradient(to bottom, #520a0a, #aa6b33);
    text-align: center;

}
.header_div-h1 {
    text-align: center;
    
}
h1 {
    color: #BFBD15;
    font-size: 6rem;
    font-weight: bold;
    font-family: 'Bentham', serif;
    text-shadow: 1px 1px black;

    
}
.header-div-sub {
    padding-top: 30px;
    font-size: 28px;
    font-family: Arial, Helvetica, sans-serif;

}
.div-sub {
    background-color: #aa6b33;
    padding-bottom: 30px;

}
.div-texto-sub {
    background-color: #aa6b33;
    color: #BFBD15;
    text-align: center;
    padding-top: 20px;
    font-size: 25px;
}
.div-texto-ul {
    font-size: 18px;
    padding-left: 48%;
    padding-top: 20px;
    padding-bottom: 5px;
    
}
.div-sub-a-img {
    background-color: #aa6b33;
    display: flex;
    align-items: center;
   

}
.div-elementos {
    
    background-color: white;
    margin: 15px;
    padding: 5px;
    border-radius: 50px;
    font-size: 16px;
    font-family: 'Times New Roman', Times, serif;
    text-shadow: 1px black;

}
.div-elementos0 {
    background-color: white;
    padding: 10px;
    padding-bottom: 10px;
    display: flex;
    text-align: center;
    border-radius: 50px;
    
    
}
.elementos-a {
    margin-top: 30px;
    margin-left: 120px;
    width: 150px;
    height: 150px;
    border-radius: 100px;
   
}
.div-elementos1 {
    background-color: white;
    padding: 10px;
    display: flex;
    border-radius: 50px;
    text-align: center;


}
.elementos-a1 {
    margin-top: 30px;
    margin-left: 170px;
    width: 150px;
    height: 150px;
    border-radius: 100px;

}
.div-elementos2 {
    background-color: white;
    padding: 10px;
    text-align: center;
    display: flex;
    border-radius: 50px;

    
}
.elementos-a2 {
    margin-top: 30px;
    margin-left: 200px;
    width: 100px;
    height: 150px;
    border-radius: 50px;
}
.footer-div-p-a {
    background-color: #aa6b33;
    text-align: center;
    padding-bottom: 30px;
    color: white;
}
.footer-div-nav {
    background-color: black;
    border-radius: 50px;
    margin-left: 400px;
    margin-right: 400px;

}